.card {
  max-width: 900px;
  min-width: 900px;
  margin: 50px 100px;
  padding: 20px;
  background: linear-gradient(
    123.5deg,
    rgb(228, 247, 255) 25.9%,
    rgb(255, 232, 218) 90.2%
  );
}
body {
  font-family: "Poppins", sans-serif;
}
.bttn {
  color: #ffffff;
  background-color: rgb(0, 164, 201);
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 8px 15px;
  margin: auto;
  transition: all 200ms ease-in;
  box-shadow: rgba(37, 39, 89, 0.05) 0px 5px 5px 0;
}
.bttn:hover {
  color: rgb(0, 164, 201);
  background-color: #ffffff;
  border: 1px solid rgb(0, 164, 201);
}
h1,
h3 {
  margin: 0 auto;
  padding-top: 25px;
  font-weight: 500;
}
h1 {
  font-size: 50px;
}
h2 {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 70px;
  font-weight: 400;
}
h2 .active {
  color: rgb(0, 0, 0, 0.6);
  cursor: default;
}
h6 {
  font-weight: 300;
  text-transform: capitalize;
}
small {
  position: relative;
  bottom: 50px;
  font-size: 14px;
}
ul {
  position: relative;
  left: -85px;
  list-style: none;
  font-size: 12px;
  color: rgb(0, 0, 0, 0.6);
}
a {
  text-decoration: none;
}
.forecast-date {
  margin-bottom: -30px;
}
.forecast {
  text-align: center;
}
.code-link {
  position: relative;
  left: 100px;
}
.min-temp {
  opacity: 0.5;
}
